.settings*
.project
.env
.c9revisions
.idea
.build
refm*.log
**/node_modules*/
**/.bin/
**/jslint.log
.data/
handlebars_build.js
.nodemonignore
config.json
npm-debug.log
.migrate
public/js/compiled/
config-develop-developer.json
.vagrant
Cheffile
Vagrantfile
node_modules
valuate.lock
*~
